{% extends 'base.html.twig' %}

{% block body %}
    <h1>幸运天天有公选王</h1>
    <h1 style="color: #C82829">Your lucky number is {{ number }}</h1>
    <h1>Lucky Number本期中奖号码: {{ luckyNumberList }}</h1>
    <p>如果您的幸运数字和本期中奖号码一致，请联系我们兑奖！</p>
{% endblock %}